* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100% !important;
}

body {
  height: 100% !important;
  font-family: "Rubik", sans-serif;
}

:root {
  --color-1: rgb(255, 255, 255);
  --color-2: #3b4149;
  --color-3: rgb(142, 67, 134);
  --color-4: #bfc1c8;
  height: 100% !important;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.black-link {
  color: black;
  text-decoration: none;
}

.button {
  background-color: #3498db;
  /* Blue background color */
  color: #fff;
  /* White text color */
  font-size: 16px;
  /* Larger font size */
  padding: 12px 24px;
  /* Adjusted padding for a more balanced look */
  border-radius: 8px;
  /* Slightly reduced border radius for a softer edge */
  border: none;
  /* Remove border for a cleaner appearance */
  cursor: pointer;
  /* Add a pointer cursor for better interactivity */
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */
}

.button:hover {
  background-color: #2980b9;
  /* Darker blue on hover */
}

/* HEADER */
.header-top-strip {
  background-color: var(--color-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-upper {
  background-color: var(--color-4);
  padding-left: 20pt;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  gap: 30px;
}

.header-upper .icon {
  width: 30px;
  height: 30px;
}

.header-upper .menu-links a {
  justify-content: right;
  color: vars(--color-2);
}

.layout {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 250px;
  /* Footer height */
}

/* FOOTER */
footer {
  background-color: var(--color-4);
  padding: 50pt;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  /* Footer height */
}

footer .input-group-text {
  background-color: var(--color-4);
  color: black;
  padding: 8px, 17px;
}

.footer-bottom {
  background-color: white;
  color: black;
  padding: 8px, 17px;
}


/* HOME PAGE */
.home-wrapper-1 {
  margin: 50pt;
}

.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0b0007;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-2);
  letter-spacing: 0.4;
}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: bisque;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  color: antiquewhite;
  line-height: 34px;
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  color: var(--color-1);
  letter-spacing: 0.4;
}

.home-wrapper-2 {
  background-color: var(--color-1);
  margin: 50pt;
  padding: 50pt;
}

.home-wrapper-3 {
  margin: 50pt;
}

.search {
  height: 100%;
  margin-bottom: 15px;
  cursor: pointer;
}

.page-container {
  display: flex;
  width: 100%;
  padding: 50px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
  align-content: center;
}